<footer>
  <div class="container">
    <div class="row">

      <div class="col-md-4">
        <span class="copyright">
          Copyright &copy; Joseph Anthony IV {{ 'now' | date: "%Y" }}
        </span>
      </div>

      <div class="col-md-4">
        <ul class="list-inline social-buttons">

          <li>
            <a href="https://www.linkedin.com/in/jdaiv98"
               target="_blank"
               rel="noopener noreferrer"
               aria-label="LinkedIn">
              <i class="fa fa-linkedin"></i>
            </a>
          </li>

          <li>
            <a href="https://github.com/janthonyiv98"
               target="_blank"
               rel="noopener noreferrer"
               aria-label="GitHub">
              <i class="fa fa-github"></i>
            </a>
          </li>

          <li>
            <a href="mailto:josephdanthony1998@gmail.com"
               aria-label="Email Joseph Anthony">
              <i class="fa fa-envelope"></i>
            </a>
          </li>

        </ul>
      </div>

      <div class="col-md-4">
        <span class="copyright">
          Charlotte, North Carolina
        </span>
      </div>

    </div>
  </div>
</footer>
